<h1>Recent Flights</h1>

<h2>Miniroute</h2>
{{ if .FlightsMiniroute }}
{{ range .FlightsMiniroute }}
  <div>
      {{ timestampConverter .Timestamp }} — <span style="font-weight: bold">{{ .Callsign }}</span> — {{ .Direction }}
  </div>
{{ end }}
{{ else }}
No flights
{{ end }}

<h2>SFRA</h2>
{{ if .FlightsSFRA }}
{{ range .FlightsSFRA }}
  <div>
    {{ timestampConverter .Timestamp }} — <span style="font-weight: bold">{{ .Callsign }}</span> — {{ .Direction }}
  </div>
{{ end }}
{{ else }}
No flights
{{ end }}

<div style="font-size: small; margin-top: 30px;">Last heartbeat: {{ .LastHeartbeat }}<br/>Messages since restart: {{ .MessageCount }}</div>